    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: url(https://wallpapers.com/images/hd/purple-clouds-dy4tzdrz5qbriq8i.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    .navbar {
        background: rgba(255, 255, 255, 0.9);
        height: 100px;
        margin-top: 10px;
        margin-left: 275px;
        border-radius: 16px;
        padding: 20px;
        text-align: center;
        width: 80.2%;
    }

    .navbar .container-fluid {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }

    .navbar-brand {
        font-weight: 500;
        color: #A020F0;
        font-size: 24px;
        transition: 0.3s color;
    }

    .navbar-toggler {
        border: none;
        font-size: 1.5rem;
        transition: 0.3s background-color;
    }

    .navbar-toggler:focus,
    .btn-close:focus {
        box-shadow: none;
        outline: none;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
        padding: 20px;
        border-right: 1px solid #ddd;
        width: 250px;
        background-color: #fff;
    }

    .sidebar-logo {
        text-align: center;
        margin-bottom: 20px;
    }

    .sidebar-logo img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .nav-link {
        color: #A020F0;
    }

    .main-content {
        margin-left: 250px;
    }

    .hero-section {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: none;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }

    .image-item {
        overflow: hidden;
        border-radius: 8px;
        width: 230px;
        height: 230px;
    }

    .image-item img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        color: #fff;
    }

    .card {
        border: none;
    }

    .card-body {
        padding: 20px;
    }

    .contact-info {
        background-color: #A020F0;
        color: #ffffff;
        padding: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .contact-info p {
        margin-bottom: 0;
    }
